@import "tailwindcss";

@config "../tailwind.config.js";
@source "../pages/**/*.{js,ts,jsx,tsx}";
@source "../components/**/*.{js,ts,jsx,tsx}";

body {
  background-color: #F3F0EE;
  color: #141413;
  margin: 0;
  padding: 0;
}
